<div class="product-accordion page-width">
  {% for block in section.blocks %}
    {% if block.type == 'collapsible_tab' %}
      <details class="accordion-item" {% if block.settings.open %}open{% endif %}>
        <summary class="accordion-summary">
          {{ block.settings.heading }}
          <span class="icon">{% render 'icon-caret' %}</span>
        </summary>
        <div class="accordion-content">
          {{ block.settings.content }}
          {{ block.settings.page.content }}
        </div>
      </details>
    {% endif %}
  {% endfor %}
</div>